.mainContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    margin-bottom: 10%;
}

.textContainer {
    display: flex;
    margin-top: 200px;
    flex: 1;
    justify-content: right;
    align-content: center;
}

.mainContainer p1 {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 12px;
    color: rgb(157, 11, 40);
}

.emailContainer {
    margin-bottom: 8px;
}

.passwordContainer {
    margin-bottom: 8px;
}

.registerContainer {
    margin-top: 20px;
}

.loginContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    margin-top: 40%;
}

.login {
    text-decoration: none;
    color: #4682b4;
}

.login:hover {
    text-decoration: underline;
}

.questionText {
    align-self: center;
}

.loginText {
    align-self: center;
}