.mainContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    margin-bottom: 40%;
}

.textContainer{
    display: flex;
    margin-top: 200px;
}

.nameContainer {
    margin-bottom: 8px;
}

.emailContainer {
    margin-bottom: 8px;
}

.passwordContainer {
    margin-bottom: 8px;
}

.registerContainer {
    display: flex;
    margin-top: 20px;

}

