.mainContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    margin-bottom: 15%;
}

.textContainer {
    display: flex;
    margin-top: 200px;
    flex: 1;
    justify-content: right;
    align-content: center;
}

.nameContainer {
    margin-bottom: 8px;
}

.emailContainer {
    margin-bottom: 8px;
}

.passwordContainer {
    margin-bottom: 8px;
}

.registerContainer {
    display: flex;
    margin-top: 20px;

}

.loginContainer {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
}

.item {
    text-decoration: none;
    color: #4682b4;
    display: flex;
    flex: 1;
    margin-top: 16px;
    padding-left: 5px;
}

.item:hover {
    text-decoration: underline;
}

.mainContainer p1 {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 12px;
    color: rgb(157, 11, 40);
}