.preloader {
  display: flex;
  flex: 1;
  justify-content: center;
  align-self: center;
}

.addCourseButton {
  display: flex;
  flex: 1;
  justify-content: end;
}

.newCourseContainer {
  display: flex;
  flex: 1;
  gap: 10px;
  margin-top: 10px;
  flex-wrap: wrap;
}

.card {
  /* width: 538px; */
  /* width: 690px; */
  height: 390px;
  width: 720px;
}
