.profileNavbar {
  display: flex;
  align-items: center;
}
.editProfileContainer {
  display: flex;
  flex: 1;
}
.dataContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.preloader {
  display: flex;
  flex: 1;
  justify-content: center;
  align-self: center;
}
.profileContainer {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.profileTextfields {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 16px;
  margin-right: 60px;
  align-items: start;
}

.name {
  display: flex;
  flex: 1;
  justify-content: start;
}

.button {
  margin-left: 45px;
}

.avatarContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: start;
  gap: 16px;
  margin-left: -50px;
}

.avatar {
  display: flex;
  flex: 1;
  align-items: end;
  /* width: 160px;
  height: 180px;
  border-radius: 5px; */
  margin-left: 82px;
}

.tableContainer {
  border-radius: 5px;
}
.tableHeader {
  background-color: rgba(237, 239, 241, 0.707);
}
.card {
  width: 522px;
  height: 580px;
}
