.preloader {
  display: flex;
  flex: 1;
  justify-content: center;
  align-self: center;
}

.addLicensesButton {
  display: flex;
  flex: 1;
  justify-content: end;
  margin-right: 17px;
}

.addSeamanBookButton {
  display: flex;
  flex: 1;
  justify-content: end;
  margin-right: 49px;
}

.addQualificationCertificateButton {
  display: flex;
  flex: 1;
  justify-content: end;
  margin-right: 53px;
}

.newLicensesContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}
.countryGrade {
  display: flex;
  flex: 1;
  width: 100%;
  gap: 10px;
}

.countryGrade > div {
  width: 100%;
  flex-grow: 1;
}
.numberPlace {
  display: flex;
  flex: 1;
  width: 100%;
  gap: 10px;
}

.numberPlace > div {
  width: 100%;
  flex-grow: 1;
}

.typeDate {
  display: flex;
  flex: 1;
  width: 100%;
  gap: 10px;
}

.typeDate > div {
  width: 100%;
  flex-grow: 1;
}

.newSeamanBookContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.nationalityNumber {
  display: flex;
  flex: 1;
  width: 100%;
  gap: 10px;
}
.nationalityNumber > div {
  width: 100%;
  flex-grow: 1;
}

.datePlace {
  display: flex;
  flex: 1;
  width: 100%;
  gap: 10px;
}
.datePlace > div {
  width: 100%;
  flex-grow: 1;
}

.newQualificationCertificateContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}
.qualificationPlace {
  display: flex;
  flex: 1;
  width: 100%;
  gap: 10px;
}
.qualificationPlace > div {
  width: 100%;
  flex-grow: 1;
}
.date {
  display: flex;
  flex: 1;
  width: 100%;
  gap: 10px;
}
.date > div {
  width: 100%;
  flex-grow: 1;
}
.toggleButton {
  display: flex;
  justify-content: center;
}

.card {
  height: 400px;
  width: 875px;
}
