.container {
  display: flex;
  flex: 1;
}

.navContainer {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  padding-bottom: auto;
  gap: 15px;
  margin: 5px 15px;
}

.hiddenContainer {
  display: none;
}

.navItems {
  display: flex;
  flex: 1;
  gap: 16px;
}

.item {
  text-decoration: none;
}

.item:hover {
  text-decoration: underline;
}

.wrapper {
  display: flex;
  background-color: rgba(124, 171, 194, 0.506);
  align-items: self-end;
  border-bottom: 1px solid black;
  min-width: 910px;
}

.emailLogout {
  display: flex;
  gap: 26px;
}

.nameSurname {
  display: flex;
  align-items: center;
  text-decoration: none;
}
