.container {
  display: flex;
  flex: 1;
}

.navContainer {
  display: flex;
  flex: 1;
  justify-content: space-between;
  padding-bottom: auto;
  gap: 15px;
  margin: 14px 24px;
}

.hiddenContainer {
  display: none;
}

.navItems {
  display: flex;
  flex: 1;
  gap: 16px;
}

.item {
  text-decoration: none;
}

.item:hover {
  text-decoration: underline;
}

.wrapper {
  display: flex;
  /* height: 60px; */
  background-color: rgb(227, 228, 238);
  align-items: self-end;
  border-bottom: 1px solid black;
  /* width: 100wv; */
}

.emailLogout {
  display: flex;
  gap: 26px;
}
