.contactsContainer {
  display: flex;
}

.phoneEmail {
  display: flex;
  flex: 1;
  width: 100%;
  width: calc(100% - 40px);
  gap: 30px;
  margin: 20px;
}

.phoneEmail > div {
  flex-grow: 1;
}

.homeAddress {
  display: flex;
  flex: 1;
  width: 100%;
  width: calc(100% - 40px);
  gap: 30px;
  margin: 20px;
}
.homeAddress > div {
  flex-grow: 1;
}

.nearestAirport {
  display: flex;
  flex: 1;
  width: 100%;
  width: calc(100% - 40px);
  gap: 30px;
  margin: 20px;
}

.nearestAirport > div {
  flex-grow: 1;
}

.button {
  display: flex;
  flex: 1;
  justify-content: end;
  margin-right: 20px;
  margin-top: 175px;
}

.card {
  height: 400px;
  width: 875px;
}
