.preloader {
  display: flex;
  flex: 1;
  justify-content: center;
  align-self: center;
}

.addVisaButton {
  display: flex;
  flex: 1;
  justify-content: end;
  margin-right: 86px;
}
.addPassportButton {
  display: flex;
  flex: 1;
  justify-content: end;
  margin-right: 47px;
}

.newVisaContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}
.country {
  display: flex;
  flex: 1;
  width: 100%;
  gap: 10px;
}
.country > div {
  width: 100%;
  flex-grow: 1;
}
.typeDate {
  display: flex;
  flex: 1;
  width: 100%;
  gap: 10px;
}
.typeDate > div {
  width: 100%;
  flex-grow: 1;
}

.newPassportContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}
.countryNumber {
  display: flex;
  flex: 1;
  width: 100%;
  gap: 10px;
}
.countryNumber > div {
  width: 100%;
  flex-grow: 1;
}

.datePlace {
  display: flex;
  flex: 1;
  width: 100%;
  gap: 10px;
}
.datePlace > div {
  width: 100%;
  flex-grow: 1;
}

.toggleButton {
  display: flex;
  justify-content: center;
}

.card {
  height: 400px;
  width: 875px;
}
