.container {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  margin: auto;

  flex: 1 1 auto;
  height: 100vh;
}

.app-wrapper-content {
  display: flex;
  flex: 1;
  background-color: rgb(165, 214, 244);
  min-width: 910px;
}
